variables:
  RUBY_VERSION: 3.2.2

workflow:
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_PIPELINE_SOURCE == "schedule"

cocoapods-session-keepalive:
  stage: .pre
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/ruby:$RUBY_VERSION
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
  script:
    - 'curl -s -H "Authorization: Token $COCOAPODS_TRUNK_TOKEN" https://trunk.cocoapods.org/api/v1/sessions > /dev/null'

build-and-release:
  stage: build
  image:  ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/ruby:$RUBY_VERSION
  before_script:
    - apt-get update -y
    - apt-get install -y rsync
  script:
    - bundle install
    - pod trunk push --allow-root
  when: manual
  environment: production
