--swift-version 5.3
--rules isEmpty, preferCountWhere, redundantExtensionACL, modifierOrder, consecutiveBlankLines, blankLineAfterImports, andOperator, elseOnSameLine, fileHeader, indent, hoistPatternLet, leadingDelimiters, modifiersOnSameLine, preferKeyPath, redundantInternal, redundantReturn, sortImports, wrapArguments
--indent 4
--header "\n {file}\n\n Copyright © {year} Primer API Ltd. All rights reserved. \n Licensed under the MIT License. See LICENSE file in the project root for full license information."
--wrap-arguments before-first
