--rules isEmpty, preferCountWhere, redundantExtensionACL, modifierOrder, consecutiveBlankLines, blankLineAfterImports, andOperator, elseOnSameLine, fileHeader, hoistPatternLet, leadingDelimiters, modifiersOnSameLine, preferKeyPath, redundantInternal
