name: Build and test app with optional SDKs

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  optional-sdk-tests:
    name: Optional SDK Tests
    runs-on: macos-13-large
    strategy:
      max-parallel: 3
      matrix:
        package-swift:
          - Package.NolPay.swift
    steps:
      - name: Cancel previous jobs
        uses: styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa # v0.12.1
        with:
          access_token: ${{ github.token }}
      - name: Git - Checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
        with:
          ref: ${{ github.ref }}
      - name: Run SDK tests
        uses: ./.github/actions/sdk-tests
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}
          known-hosts: ${{ secrets.KNOWN_HOSTS }}
          match-password: ${{ secrets.MATCH_PASSWORD }}
          match-git-private-key: ${{ secrets.FASTLANE_PASSWORD }}
          fastlane-session: ${{ secrets.FASTLANE_SESSION }}
          fastlane-password: ${{ secrets.FASTLANE_PASSWORD }}
          match-keychain-name: ${{ secrets.MATCH_KEYCHAIN_NAME }}
          match-keychain-password: ${{ secrets.MATCH_KEYCHAIN_PASSWORD }}
          coverage-file-name: sonar-coverage.xml
          package-swift: ${{  matrix.package-swift }}