name: Run lint and static analysis

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  pod-lint:
    if: ${{ github.event.pull_request.base.ref == 'master' }}
    runs-on: macos-latest
    name: "Pod lint"
    strategy:
      fail-fast: false
      matrix:
        version: ["5"]

    steps:
      - name: Cancel previous jobs
        uses: styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa # v0.12.1
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ruby/setup-ruby@354a1ad156761f5ee2b7b13fa8e09943a5e8d252  # v1.229.0
        with:
          ruby-version: "3.2"
          bundler-cache: true

      - name: Lint pod
        run: |
          set -eo pipefail
          pod lib lint --allow-warnings --swift-version=${{ matrix.version }} --analyze
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
