name: Run lint and static analysis

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  pod-lint:
    if: ${{ github.event.pull_request.base.ref == 'master' }}
    runs-on: macos-latest
    name: "Pod lint"
    strategy:
      fail-fast: false
      matrix:
        version: ["5"]

    steps:
      - name: Cancel previous jobs
        uses: styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa # v0.12.1
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Select Xcode Version
        uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd  # v1.6.0 
        with:
            xcode-version: 16.3.0
      - uses: ruby/setup-ruby@675dd7ba1b06c8786a1480d89c384f5620a42647  # v1.281.0
        with:
          ruby-version: "3.2"
          bundler-cache: true

      - name: Lint pod
        run: |
          set -eo pipefail
          pod lib lint --allow-warnings --swift-version=${{ matrix.version }} --analyze
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
