name: Post Release PR Merge

on: 
  workflow_dispatch:
  pull_request:
    # Patterns matched against refs/heads
    branches:
      - release/next
    types: [ closed ]

jobs:
  release_merge:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Git - Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          token: ${{ secrets.RELEASE_ACCESS_TOKEN }}
      - name: Install cz
        run: pip install --user -U Commitizen
      - name: Record release version
        run: |
          echo "RELEASE_VERSION=$(cz version --project)" >> $GITHUB_ENV
      - name: Tag release
        run: |
          git tag $RELEASE_VERSION
          git push origin $RELEASE_VERSION
      - name: Create a Release
        uses: elgohr/Github-Release-Action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_ACCESS_TOKEN }}
        with:
          title: Release ${{ env.RELEASE_VERSION }}
  build-and-upload-to-appetize:
    runs-on: macos-latest
    timeout-minutes: 20
    name: "Build and upload app to Appetize"
    steps:
      - name: Cancel previous jobs
        uses: styfle/cancel-workflow-action@0.12.0
        with:
          access_token: ${{ github.token }}
      - name: Git - Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
      - name: Upload preview to Appetize
        id: appetize-upload
        uses: ./.github/actions/appetize-build
        with:
          build_type: 'release'
          secrets: secrets
          github: github