name: Post PR Merge

on:
  pull_request:
    # Patterns matched against refs/heads
    branches:
      - release/next
    types: [ closed ]

jobs:
  release_merge:
    if: github.event.pull_request.merged == true && github.head_ref
    runs-on: ubuntu-latest
    steps:
      - name: Git - Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Install cz
        run: pip install --user -U Commitizen
      - name: Record release version
        run: |
          echo "RELEASE_VERSION=$(cz version --project)" >> $GITHUB_ENV
      - name: Tag release
        uses: tvdias/github-tagger@v0.0.1
        with:
          repo-token: ${{ secrets.RELEASE_ACCESS_TOKEN }}
          tag: ${{ env.RELEASE_VERSION }}
      - name: Create a Release
        uses: elgohr/Github-Release-Action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_ACCESS_TOKEN }}
        with:
          title: ${{ env.RELEASE_VERSION }}
