name: Post Release PR Merge

on:
  pull_request:
    types: [ closed ]

jobs:
  release_merge:
    if: github.head_ref == 'release/next' && github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Git - Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          token: ${{ secrets.RELEASE_ACCESS_TOKEN }}
      - name: Install cz
        run: pip install --user -U Commitizen
      - name: Record release version
        run: |
          echo "RELEASE_VERSION=$(cz version --project)" >> $GITHUB_ENV
      - name: Tag release
        run: |
          git tag $RELEASE_VERSION
          git push origin $RELEASE_VERSION
      - name: Record changelog for current release
        run: cz changelog $RELEASE_VERSION --file-name="release.md"
      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          title: Release ${{ env.RELEASE_VERSION }}
          name: "Release ${{ env.RELEASE_VERSION }}"
          tag: ${{ env.RELEASE_VERSION }}
          bodyFile: "release.md"
  build-and-upload-to-appetize:
    if: github.head_ref == 'release/next' && github.event.pull_request.merged == true
    runs-on: macos-latest
    timeout-minutes: 20
    name: "Build and upload app to Appetize"
    steps:
      - name: Cancel previous jobs
        uses: styfle/cancel-workflow-action@0.12.0
        with:
          access_token: ${{ github.token }}
      - name: Git - Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
      - name: Upload preview to Appetize
        id: appetize-upload
        uses: ./.github/actions/appetize-build
        with:
          build_type: 'release'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          ssh-private-key: ${{ secrets.SSH_KEY }}
          known-hosts: ${{ secrets.KNOWN_HOSTS }}
          match-password: ${{ secrets.MATCH_PASSWORD }}
          match-git-private-key: ${{ secrets.FASTLANE_PASSWORD }}
          fastlane-session: ${{ secrets.FASTLANE_SESSION }}
          fastlane-password: ${{ secrets.FASTLANE_PASSWORD }}
          match-keychain-name: ${{ secrets.MATCH_KEYCHAIN_NAME }}
          match-keychain-password: ${{ secrets.MATCH_KEYCHAIN_PASSWORD }}
          appetize-api-token: ${{ secrets.APPETIZE_API_TOKEN }}
          source-branch: ${{ github.head_ref || github.ref_name }}
          pr-number: ""
          slack-channel: ${{ secrets.SLACK_MOBILE_SDK_CHANNEL }}
          slack-reporter-token: ${{ secrets.SLACK_REPORTER_BOT_TOKEN }}
          github-run-id: ${{ github.run_id }}
          run-tests: false

